<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Log4Net Início -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!--Caminho onde o arquivo será gerado -->
      <param name="File" value="AppLogs\\LogsAppp.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--o que será incluido no arquivo -->
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <logger name="LogInFile">
      <level value="All"/>
      <!--Utilizando qual appender -->
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>
  <appSettings>
    <add key="Banco" value="2"/>
    <add key="strSchemaINT" value="INTEGRADOR"/>
    <add key="strSchemaSAT" value="DWSATELITE"/>
    <add key="strSchema" value="ADMWPD"/>
    <add key="strSchemaHIS" value="ADMWPD"/>
    
    <add key="ConectaSAT" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AVwBLAEsALQBTAFIAVgBcAFcASwBLAFMAUgBWADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwA9AFMAdQBtAGEAcgBpAG8AOwAgAFUAcwBlAHIAIABJAGQAPQBzAGEAOwBQAGEAcwBzAHcAbwByAGQAPQAxADIAMwA0ADUANgA="/>
    <add key="ConectaINT" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AVwBLAEsALQBTAFIAVgBcAFcASwBLAFMAUgBWADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwA9AFMAdQBtAGEAcgBpAG8AOwAgAFUAcwBlAHIAIABJAGQAPQBzAGEAOwBQAGEAcwBzAHcAbwByAGQAPQAxADIAMwA0ADUANgA="/>
    <add key="ConectaHIS" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AVwBLAEsALQBTAFIAVgBcAFcASwBLAFMAUgBWADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwA9AFMAdQBtAGEAcgBpAG8AOwAgAFUAcwBlAHIAIABJAGQAPQBzAGEAOwBQAGEAcwBzAHcAbwByAGQAPQAxADIAMwA0ADUANgA="/>
  </appSettings>
</configuration>
