<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--DESENVOLVIMENTO-->
    <!--<add key="ConectaINT" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AKABEAEUAUwBDAFIASQBQAFQASQBPAE4APQAoAEEARABEAFIARQBTAFMAXwBMAEkAUwBUAD0AKABBAEQARABSAEUAUwBTAD0AKABQAFIATwBUAE8AQwBPAEwAPQBUAEMAUAApACgASABPAFMAVAA9ADEANwAyAC4AMgAwAC4AMAAuADEANwA5ACkAKABQAE8AUgBUAD0AMQA1ADIAMQApACkAKQAoAEMATwBOAE4ARQBDAFQAXwBEAEEAVABBAD0AKABTAEUAUgBWAEUAUgA9AEQARQBEAEkAQwBBAFQARQBEACkAKABTAEUAUgBWAEkAQwBFAF8ATgBBAE0ARQA9AEQARQBTAEUATgBWADAAMgApACkAKQA7AFUAcwBlAHIAIABJAGQAPQBJAE4AVABFAEcAUgBBAEQATwBSADsAUABhAHMAcwB3AG8AcgBkAD0AaQBuAHQAZQBnAHIAYQBkAG8AcgA7AA=="/>-->
    <!--PRODUÇÃO-->
    <add key="ConectaINT" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AKABEAEUAUwBDAFIASQBQAFQASQBPAE4APQAoAEEARABEAFIARQBTAFMAPQAoAFAAUgBPAFQATwBDAE8ATAA9AFQAQwBQACkAKABIAE8AUwBUAD0AMQAwAC4AMgA1ADAALgAzAC4AMgA0ACkAKABQAE8AUgBUAD0AMQA1ADIAMQApACkAKABDAE8ATgBOAEUAQwBUAF8ARABBAFQAQQA9ACgAUwBFAFIAVgBFAFIAPQBEAEUARABJAEMAQQBUAEUARAApACgAUwBFAFIAVgBJAEMARQBfAE4AQQBNAEUAPQBQAFIARABFAFQATAApACgARgBBAEkATABPAFYARQBSAF8ATQBPAEQARQA9ACgAVABZAFAARQA9AFMARQBMAEUAQwBUACkAKABNAEUAVABIAE8ARAA9AEIAQQBTAEkAQwApACgAUgBFAFQAUgBJAEUAUwA9ADEAOAAwACkAKABEAEUATABBAFkAPQA1ACkAKQApACkAOwBVAHMAZQByACAASQBkAD0ASQBOAFQARQBHAFIAQQBEAE8AUgA7AFAAYQBzAHMAdwBvAHIAZAA9AGkAdAAyADQANgAzADIAegA7AA=="/>
    <add key="strSchemaINT" value="INTEGRADOR"/>
    <!--DESENVOLVIMENTO-->
    <!--<add key="ConectaSAT" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AKABEAEUAUwBDAFIASQBQAFQASQBPAE4APQAoAEEARABEAFIARQBTAFMAXwBMAEkAUwBUAD0AKABBAEQARABSAEUAUwBTAD0AKABQAFIATwBUAE8AQwBPAEwAPQBUAEMAUAApACgASABPAFMAVAA9ADEANwAyAC4AMgAwAC4AMAAuADEANwA5ACkAKABQAE8AUgBUAD0AMQA1ADIAMQApACkAKQAoAEMATwBOAE4ARQBDAFQAXwBEAEEAVABBAD0AKABTAEUAUgBWAEUAUgA9AEQARQBEAEkAQwBBAFQARQBEACkAKABTAEUAUgBWAEkAQwBFAF8ATgBBAE0ARQA9AEQARQBTAEUATgBWADAAMgApACkAKQA7AFUAcwBlAHIAIABJAGQAPQBEAFcAUwBBAFQARQBMAEkAVABFADsAUABhAHMAcwB3AG8AcgBkAD0AZAB3AHMAYQB0AGUAbABpAHQAZQA7AA=="/>-->
    <!--PRODUÇÃO-->
    <add key="ConectaSAT" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AKABEAEUAUwBDAFIASQBQAFQASQBPAE4APQAoAEEARABEAFIARQBTAFMAPQAoAFAAUgBPAFQATwBDAE8ATAA9AFQAQwBQACkAKABIAE8AUwBUAD0AMQAwAC4AMgA1ADAALgAzAC4AMgA0ACkAKABQAE8AUgBUAD0AMQA1ADIAMQApACkAKABDAE8ATgBOAEUAQwBUAF8ARABBAFQAQQA9ACgAUwBFAFIAVgBFAFIAPQBEAEUARABJAEMAQQBUAEUARAApACgAUwBFAFIAVgBJAEMARQBfAE4AQQBNAEUAPQBQAFIARABFAFQATAApACgARgBBAEkATABPAFYARQBSAF8ATQBPAEQARQA9ACgAVABZAFAARQA9AFMARQBMAEUAQwBUACkAKABNAEUAVABIAE8ARAA9AEIAQQBTAEkAQwApACgAUgBFAFQAUgBJAEUAUwA9ADEAOAAwACkAKABEAEUATABBAFkAPQA1ACkAKQApACkAOwBVAHMAZQByACAASQBkAD0ASQBOAFQARQBHAFIAQQBEAE8AUgA7AFAAYQBzAHMAdwBvAHIAZAA9AGkAdAAyADQANgAzADIAegA7AA=="/>
    <add key="strSchemaSAT" value="DWSATELITE"/>
    <add key="QtdeRegistros" value="500"/>
    <!--Intervalo em MINUTOS-->
    <add key="IntervaloMinutos" value="20"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Versao" value="1.4"/>
    <add key="Conciliacao_Dias" value="150"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSLerAtendimentosSoap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="50000000" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="LerPacientesWPDSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="50000000" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="WSGravarAtendimentosSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="50000000" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="WSGravarPacientesSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="50000000" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="WSETLUnidadesSoap" closeTimeout="00:05:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="50000000" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://rdetl02.rededor.corp/WsLerAtendimentos/WSLerAtendimentos.asmx" binding="basicHttpBinding" bindingConfiguration="WSLerAtendimentosSoap" contract="SrvAtendHBD.WSLerAtendimentosSoap" name="WSLerAtendimentosSoap"/>
      <endpoint address="http://rdetl02.rededor.corp/WSLerPacientes/WSLerPacientes.asmx" binding="basicHttpBinding" bindingConfiguration="LerPacientesWPDSoap" contract="SrvPacHBD.LerPacientesWPDSoap" name="LerPacientesWPDSoap"/>
      <endpoint address="http://rdetl02.rededor.corp/WSGravarAtendimentos/WSGravarAtendimento.asmx" binding="basicHttpBinding" bindingConfiguration="WSGravarAtendimentosSoap" contract="SrvGravarAtendHBD.WSGravarAtendimentosSoap" name="WSGravarAtendimentosSoap"/>
      <endpoint address="http://rdetl02.rededor.corp/WSGravarPacientes/WSGravarPacientes.asmx" binding="basicHttpBinding" bindingConfiguration="WSGravarPacientesSoap" contract="SrvGravarPacHBD.WSGravarPacientesSoap" name="WSGravarPacientesSoap"/>
      <endpoint address="http://rdetl02.rededor.corp/WSETLUnidades/WSetlUnidades.asmx" binding="basicHttpBinding" bindingConfiguration="WSETLUnidadesSoap" contract="SrvETLUnidades.WSETLUnidadesSoap" name="WSETLUnidadesSoap"/>-->
     
      <endpoint address="http://localhost:64150/WSLerAtendimentos.asmx" binding="basicHttpBinding" bindingConfiguration="WSLerAtendimentosSoap" contract="SrvAtendHBD.WSLerAtendimentosSoap" name="WSLerAtendimentosSoap"/>
      <endpoint address="http://localhost:46060/WSLerPacientes.asmx" binding="basicHttpBinding" bindingConfiguration="LerPacientesWPDSoap" contract="SrvPacHBD.LerPacientesWPDSoap" name="LerPacientesWPDSoap"/>
      <endpoint address="http://localhost:1922/WSGravarAtendimento.asmx" binding="basicHttpBinding" bindingConfiguration="WSGravarAtendimentosSoap" contract="SrvGravarAtendHBD.WSGravarAtendimentosSoap" name="WSGravarAtendimentosSoap"/>
      <endpoint address="http://localhost:11077/WSGravarPacientes.asmx" binding="basicHttpBinding" bindingConfiguration="WSGravarPacientesSoap" contract="SrvGravarPacHBD.WSGravarPacientesSoap" name="WSGravarPacientesSoap"/>
      <endpoint address="http://localhost:29631/WSETLUnidades.asmx" binding="basicHttpBinding" bindingConfiguration="WSETLUnidadesSoap" contract="SrvETLUnidades.WSETLUnidadesSoap" name="WSETLUnidadesSoap"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
