<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSLerPacientesSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:46060/WSLerPacientes.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSLerPacientesSoap"
                contract="ServicePacienteHBD.WSLerPacientesSoap" name="WSLerPacientesSoap" />
        </client>
    </system.serviceModel>-->

    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="WSLerPacientesSoap" closeTimeout="00:01:00" />
          <binding name="WSLerAtendimentosSoap" closeTimeout="00:02:00" />
        </basicHttpBinding>
      </bindings>
      <services>
        <service name="Monitor.Services">
          <endpoint address="http://localhost:46060/WSLerPacientes.asmx"
             binding="basicHttpBinding" bindingConfiguration="WSLerPacientesSoap"
             contract="ServicePacienteHBD.WSLerPacientesSoap" name="WSLerPacientesSoap" />
          <endpoint
             address="http://localhost:64150/WSLerAtendimentos.asmx" 
             binding="basicHttpBinding" bindingConfiguration="WSLerAtendimentosSoap"
             contract="ServiceAtendimentosHBD.WSLerPacientesSoap" name="WSLerAtendimentosSoap" />
        </service>
      </services>
    </system.serviceModel>
</configuration>