<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <!--DESENVILVIMENTO-->
    <!--<add key="ConectaHIS" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AKABEAEUAUwBDAFIASQBQAFQASQBPAE4APQAoAEEARABEAFIARQBTAFMAXwBMAEkAUwBUAD0AKABBAEQARABSAEUAUwBTAD0AKABQAFIATwBUAE8AQwBPAEwAPQBUAEMAUAApACgASABPAFMAVAA9ADEAMAAuADIANQAwAC4AMwAuADMAMwApACgAUABPAFIAVAA9ADEANQAyADEAKQApACkAKABDAE8ATgBOAEUAQwBUAF8ARABBAFQAQQA9ACgAUwBFAFIAVgBFAFIAPQBEAEUARABJAEMAQQBUAEUARAApACgAUwBFAFIAVgBJAEMARQBfAE4AQQBNAEUAPQBIAE0AQgBBAFIAUgBBADIAKQApACkAOwBVAHMAZQByACAASQBkAD0ARABXAFMAQQBUAEUATABJAFQARQA7AFAAYQBzAHMAdwBvAHIAZAA9AGQAdwBzAGEAdAA7AA=="/>-->
    <!--PRODUÇÃO-->
    <add key="ConectaHIS" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AKABEAEUAUwBDAFIASQBQAFQASQBPAE4APQAoAEEARABEAFIARQBTAFMAXwBMAEkAUwBUAD0AKABBAEQARABSAEUAUwBTAD0AKABQAFIATwBUAE8AQwBPAEwAPQBUAEMAUAApACgASABPAFMAVAA9ADEAMAAuADIANQAwAC4AMwAuADEAMQApACgAUABPAFIAVAA9ADEANQAyADEAKQApACkAKABDAE8ATgBOAEUAQwBUAF8ARABBAFQAQQA9ACgAUwBFAFIAVgBFAFIAPQBEAEUARABJAEMAQQBUAEUARAApACgAUwBFAFIAVgBJAEMARQBfAE4AQQBNAEUAPQBQAFIARABCAEEAUgBSAEEAKQApACkAOwBVAHMAZQByACAASQBkAD0ARABXAFMAQQBUAEUATABJAFQARQA7AFAAYQBzAHMAdwBvAHIAZAA9AEQAVwBTAEEAVABFAEwASQBUAEUAOwA="/>
    <add key="strSchemaHIS" value="ADMWPD"/>
    <!--DESENVOLVIMENTO-->
    <!--<add key="ConectaSAT" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AKABEAEUAUwBDAFIASQBQAFQASQBPAE4APQAoAEEARABEAFIARQBTAFMAXwBMAEkAUwBUAD0AKABBAEQARABSAEUAUwBTAD0AKABQAFIATwBUAE8AQwBPAEwAPQBUAEMAUAApACgASABPAFMAVAA9ADEANwAyAC4AMgAwAC4AMAAuADEANwA5ACkAKABQAE8AUgBUAD0AMQA1ADIAMQApACkAKQAoAEMATwBOAE4ARQBDAFQAXwBEAEEAVABBAD0AKABTAEUAUgBWAEUAUgA9AEQARQBEAEkAQwBBAFQARQBEACkAKABTAEUAUgBWAEkAQwBFAF8ATgBBAE0ARQA9AEQARQBTAEUATgBWADAAMgApACkAKQA7AFUAcwBlAHIAIABJAGQAPQBEAFcAUwBBAFQARQBMAEkAVABFADsAUABhAHMAcwB3AG8AcgBkAD0AZAB3AHMAYQB0AGUAbABpAHQAZQA7AA=="/>-->
    <!--PRODUÇÃO-->
    <add key="ConectaSAT" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AKABEAEUAUwBDAFIASQBQAFQASQBPAE4APQAoAEEARABEAFIARQBTAFMAPQAoAFAAUgBPAFQATwBDAE8ATAA9AFQAQwBQACkAKABIAE8AUwBUAD0AMQAwAC4AMgA1ADAALgAzAC4AMgA0ACkAKABQAE8AUgBUAD0AMQA1ADIAMQApACkAKABDAE8ATgBOAEUAQwBUAF8ARABBAFQAQQA9ACgAUwBFAFIAVgBFAFIAPQBEAEUARABJAEMAQQBUAEUARAApACgAUwBFAFIAVgBJAEMARQBfAE4AQQBNAEUAPQBQAFIARABFAFQATAApACgARgBBAEkATABPAFYARQBSAF8ATQBPAEQARQA9ACgAVABZAFAARQA9AFMARQBMAEUAQwBUACkAKABNAEUAVABIAE8ARAA9AEIAQQBTAEkAQwApACgAUgBFAFQAUgBJAEUAUwA9ADEAOAAwACkAKABEAEUATABBAFkAPQA1ACkAKQApACkAOwBVAHMAZQByACAASQBkAD0ASQBOAFQARQBHAFIAQQBEAE8AUgA7AFAAYQBzAHMAdwBvAHIAZAA9AGkAdAAyADQANgAzADIAegA7AA=="/>
    <add key="strSchemaSAT" value="DWSATELITE"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>